* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://cdn2.bulbagarden.net/upload/thumb/3/32/Lake_Acuity_anime.png/1200px-Lake_Acuity_anime.png);
  background-size: cover;
  list-style: none;
}

.container {
    width: 30vw;
    height: 50vh;
    margin-left: 35%;
    margin-top: 3%;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

img {
  margin-top: 20px;
  margin-left: 30px;
  width: 15vw;
  height: 15vh;
}

h1 {
  color: #1e1e1e;
 margin-left: 35%;
  margin-top: 10%;
}

.form {
  margin-top: 5%;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  gap: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  height: 30px;
  margin-bottom: 5%;
}

.but1 {
    border-width: 5px;
    width: 7vw;
    height: 5vh;
    color: #1e1e1e;
    font-weight: bolder;
    background: linear-gradient(90deg, lightblue, lightgreen);
  }
  

.register {
  margin-top: 3%;
  margin-left: 25%;
  color: #1e1e1e;
  font-weight: bolder;
}

a {
  margin-left: 20%;
}

.register a:hover {
  transition: 0.3s ease-in;
  color: black;
}

input {
  height: 30px;
}